
.main{
    -fx-background-color:#495154;
}



.list{
    -fx-background-color:black;
    -fx-border-color:#544C49;
    -fx-border-width:0 2 0 0;
    -fx-color:white;
    -fx-pref-width:300px;
    -fx-font-size:20px;
}
.listEl{
    -fx-padding:10px;
    -fx-cursor:hand;
}
.listEl:hover{
    -fx-background-color:#3d3d3d;
}
.elContextSub:hover{
    -fx-background-color:white;
}
.elSelected{
    -fx-background-color:#3d3d3d;
}
.elApprove{
   -fx-text-fill:green;
}
.elRemove{
    -fx-text-fill:red;
}
.elSpoil{
    -fx-text-fill:yellow;
}
.elTitle{
    -fx-text-fill:white;
}
.elTime{
    -fx-text-fill:#C7C7C7;
    -fx-font-size:15px;
}

.alertLabel{
    -fx-color:red;
    -fx-font-size:40px;
    -fx-text-fill:white;
    -fx-background-color:black;
    -fx-border-color:white;
    -fx-border-width:0 0 1 0;
    -fx-alignment:center;
}
.alert{
    -fx-background-color:red;
    -fx-spacing: 100;
}
.notification{
    -fx-background-color:black;
}
.alertOptions{
    -fx-background-color:white;
    -fx-padding:5px;
    -fx-border-color:black;
    -fx-border-width:2 0 2 0;
    -fx-spacing:5px;
}
.alertOptions Button{
    -fx-font-size:90px;
    -fx-border-color:black;
    -fx-margin:5px;
   

}

.alertOptions .alertAccept{
    -fx-background-color:green;
    -fx-text-fill:white;
}
.alertOptions .alertAccept:hover{
    -fx-background-color:black;
}
.alertOptions .alertReject{
    -fx-background-color:#990000;
    -fx-text-fill:white;
}
.alertOptions .alertReject:hover{
    -fx-background-color:black;
}
.alertOptions .alertSpoil{
    -fx-background-color:yellowgreen;
    -fx-text-fill:white;
}
.alertOptions .alertSpoil:hover{
    -fx-background-color:black;
    -fx-text-fill:white;
}
